*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0;
    background-color: blanchedalmond;
}
header{
    background-color: green;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    color: aliceblue;
}
ul{
    list-style: none;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 150px;
    padding: 15px;
    max-width: 500px;
    min-width: 30px;
}
h1{
    margin: 0;
    text-align: center;
    width:60%;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
.link{
    display: block;
    text-align: end;
    width: 95.5%;
}
.block{
    display: block ;
}
.inline{
    display: inline;
    width: 300px;
}
.inline,.block{
    margin-left: 40px;
    margin-top: 4px;
}
textarea{
    display: block;
}
.adjust{
    margin-bottom: 0;
}
button{
    display: block;
    margin: 25px auto;
    width: 200px;
    height: 50px;
}
button:hover{
    background-color: goldenrod;
    box-shadow: 5px 3px 4px brown;
    color: aliceblue;
}
address{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
    font-style: italic;
    color: red;
}
fieldset{
    border: none;
}
h2{
    border-bottom: 1px solid ;
    margin-top:170px;

}
form{
    margin: 0 auto;
    max-width: 600px;
    min-width: 300px;
}
*:not(h2 ,header){
    scroll-behavior: smooth;
    border-radius: 5px;
}
header > nav > a:hover{
    border: 1px solid;
    height: 30px;
    background-color: brown;
    color: aliceblue;

}
footer{
    background-color: tomato;
    width: 100%;
}