*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100Vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    padding: 5px;
}
.contact{
    grid-column: span 2;
}
div{
    border: 1px solid;
}