*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.btn-container{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
button{
    width: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    color: blue;
    border: 1px solid blue ;
}
button:hover{
    background-color: blue;
    font-size: 1.3rem;
    color: whitesmoke;
    transition: 0.5s ease-in-out;
}
article{
    width: 400px;
    overflow: hidden;
    margin: 50px auto;
}
img{
    width: inherit;
    height: 150px;
    border: 2px solid blue;
    border-radius: 5px;
}
h1{
    text-align: center;
    margin-top: 50px;
}
.underline{
    border-bottom: 3px solid blue;
    display: block;
    width: 50px;
    margin: 5px auto;
}
h2{
    margin-top: 10px;
    color: navy;
}
.underline2{
    width: inherit;
    border-bottom: 2px solid blue;
    display: block;
    margin-bottom: 10px;
}
.price{
    float: right;
    color: blue;

}
@media (min-width:1000px){
    article{
        width: 500px;
    }
    .menu-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    h2{
        margin-top: 0;
        width: 250px;
    }
    p{
        width: 300px;
    }
    img{
        width: 200px;
    }
    h2,.underline2,.about{
        position: absolute;
        display: inline;
        margin-left: 10px;
    }
    .underline2{
        margin-top: 28px;
        width: 250px;
    }
    .about{
        margin-top: 50px;
    }
    .price{
        float: right;
    }
}