*{
    box-sizing: border-box;
    
}
.navigation{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 8px;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.name{
    display: block;
    text-align: center;
    font-size:2rem;
}
.buttons:hover{
    background-color: blue;
    width: 100px;
    height: 30px;
    text-align: center;
    color: whitesmoke;
    padding-top: 5px;
    border-color: blue;
    border-radius: 7px;
}