*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider-container{
    border: 5px solid red;
    width: 80vw;
    height: 40vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: ;
    margin: auto;
    margin-top: 4rem;
}
img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s linear;
}
.slid > img{
    position: absolute;
    height: 100%;
    object-fit: cover;
    transform: translate(-100%);
}
