*{
    box-sizing: border-box;
    border-radius: 10px;
}
h1{
    color: white;
    background-color: black;
    height: 70px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 200px;
    
}
span{
    color: greenyellow;
}

button{
    width: 100px;
    height: 50px;
    margin: 10px auto;
    display: block;
}
button:hover{
    background-color:darkslategray;
    color: white;
    transition: 0.5s ease-out;
    font-size: 1rem;
}